* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  min-width: 320px;
  font: 20px/140% "Roboto", sans-serif;
  background: #FEFEFF;
  color: #671313;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid #1FB1EA;
  background: #1FB1EA;
  border-radius: 10px;
  padding: 4px 14px;
  transition: all 0.5s ease;
}

.btn-icon {
  height: 46px;
  font-size: 16px;
}

.btn-icon svg {
  display: flex;
  margin-right: 10px;
}

.btn-icon svg path {
  transition: fill 0.5s ease;
}

.btn-icon:hover {
  background: transparent;
  color: #1FB1EA;
}

.btn-icon:hover svg path {
  fill: #1FB1EA !important;
}

.btn:hover {
  background: transparent;
  color: #1FB1EA;
}

.w278 {
  width: 278px;
}

input[type=text],
input[type=email],
input[type=tel] {
  width: 100%;
  height: 46px;
  background: #1B2D46;
  border-radius: 10px;
  color: #fff;
  border: 0;
  padding: 0 10px;
  font-size: 16px;
}

@media (max-width: 768px) {

  input[type=text],
  input[type=email],
  input[type=tel] {
    height: 40px;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder {
  color: #8E96B0;
}

input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=tel]:-moz-placeholder {
  color: #8E96B0;
}

input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=tel]::-moz-placeholder {
  color: #8E96B0;
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder {
  color: #8E96B0;
}

input[type=submit],
button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1FB1EA;
  border: 2px solid #1FB1EA;
  height: 46px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s ease;
}

input[type=submit] svg,
button svg {
  display: flex;
  margin-right: 10px;
}

input[type=submit] svg path,
button svg path {
  transition: fill 0.5s ease;
}

input[type=submit]:hover,
button:hover {
  background: transparent;
  color: #1FB1EA;
}

input[type=submit]:hover svg path,
button:hover svg path {
  fill: #1FB1EA !important;
}

@media (max-width: 768px) {
  .phone-input {
    margin-bottom: 20px;
  }
}

.phone-input .iti__selected-dial-code {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #8E96B0;
}

.phone-input .iti__arrow {
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #8E96B0;
}

.phone-input .iti__arrow--up {
  border-top: 0;
  border-bottom: 6px solid #8E96B0;
}

.phone-input .iti__selected-flag {
  padding-right: 10px;
  position: relative;
}

.phone-input .iti__selected-flag:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background: #8E96B0;
  border-radius: 5px;
}

.phone-input .iti {
  width: 100%;
}

.space-bg {
  background: url("../img/space.png") center center/cover #0B1017;
}

.black-bg {
  background: #0B1017;
}

@media (max-width: 768px) {
  .black-bg {
    background: url("../img/space.png") #0B1017;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 64px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 15px;
    padding-bottom: 33px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.header__logo span {
  color: #1FB1EA;
}

.head {
  padding-bottom: 130px;
  color: #fff;
}

@media (max-width: 768px) {
  .head {
    padding-bottom: 70px;
  }
}

.head__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .head__wrap {
    flex-direction: column-reverse;
  }
}

.head__info {
  width: 44.445%;
  min-width: 44.445%;
}

@media (max-width: 768px) {
  .head__info {
    width: 100%;
  }
}

.head__video {
  width: 49%;
  min-width: 49%;
  height: 454px;
  box-shadow: 0 0 35px #1FB1EA;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1024px) {
  .head__video {
    height: 410px;
  }
}

@media (max-width: 768px) {
  .head__video {
    width: 100%;
    height: 180px;
    margin-bottom: 40px;
  }
}

.head__title {
  margin: 0 0 25px;
  font-weight: 800;
  font-size: 36px;
  line-height: 140%;
  max-width: 385px;
}

@media (max-width: 1024px) {
  .head__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .head__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .head__title span {
    color: #1FB1EA;
  }
}

.head__sub-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  margin: 0 0 36px;
}

@media (max-width: 768px) {
  .head__sub-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.head__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.head__image--1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head__image--2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.form {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

.form__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form__wrap {
    display: block;
    margin-bottom: 0;
  }
}

.form__col {
  width: calc(50% - 10px);
  min-width: calc(50% - 10px);
}

@media (max-width: 768px) {
  .form__col {
    width: 100%;
  }
}

.form__btn {
  padding-top: 9px;
}

@media (max-width: 768px) {
  .form__btn {
    padding-top: 5px;
  }
}

.about {
  color: #fff;
  padding-bottom: 130px;
  margin-bottom: 79px;
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 70px;
    margin-bottom: 50px;
  }
}

.about__title {
  text-align: center;
  max-width: 60%;
  margin: 0 auto 50px;
  font-weight: 800;
  font-size: 36px;
  line-height: 140%;
}

@media (max-width: 768px) {
  .about__title {
    font-weight: 800;
    font-size: 20px;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.about__list {
  list-style: none;
  margin: 0 0 100px;
  padding: 0;
  letter-spacing: -0.36em;
  text-align: center;
}

@media (max-width: 768px) {
  .about__list {
    margin-bottom: 70px;
  }
}

.about__list li {
  width: 30%;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 7%;
}

@media (max-width: 768px) {
  .about__list li {
    width: 100%;
    margin: 0;
  }

  .about__list li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__list li span {
  display: block;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 48px;
  color: #1FB1EA;
  line-height: 140%;
}

@media (max-width: 768px) {
  .about__list li span {
    font-size: 36px;
    margin-bottom: 5px;
  }
}

.about__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .about__wrap {
    display: block;
  }
}

.about__info {
  width: calc(100% - 422px);
  min-width: calc(100% - 422px);
}

@media (max-width: 1024px) {
  .about__info {
    width: calc(100% - 330px);
    min-width: calc(100% - 330px);
  }
}

@media (max-width: 768px) {
  .about__info {
    width: 100%;
    min-width: 100%;
  }
}

.about__image {
  width: 422px;
  min-width: 422px;
}

@media (max-width: 1024px) {
  .about__image {
    width: 330px;
    min-width: 330px;
  }
}

@media (max-width: 768px) {
  .about__image {
    display: none;
  }
}

.about__ttl {
  margin: 0 0 30px;
  font-weight: 800;
  font-size: 36px;
  line-height: 140%;
}

@media (max-width: 768px) {
  .about__ttl {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.about__descr {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .about__descr {
    text-align: center;
    margin-bottom: 20px;
  }
}

.about__images {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .about__images {
    justify-content: center;
  }
}

.about__images img {
  display: flex;
}

.about__images img:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .about__images img:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .about .btn {
    margin: 0 auto;
  }
}

.info {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .info {
    padding-bottom: 70px;
  }
}

.info__title {
  margin: 0 0 20px;
  line-height: 140%;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
}

@media (max-width: 768px) {
  .info__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.info__descr {
  text-align: center;
  max-width: 882px;
  margin: 0 auto 60px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .info__descr {
    margin-bottom: 40px;
  }
}

.info__descr p {
  margin: 0;
}

.info__descr p:not(:last-child) {
  margin-bottom: 20px;
}

.info__list {
  list-style: none;
  margin: 0 0 60px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .info__list {
    display: block;
    margin: 0 0 40px;
  }
}

.info__list li {
  width: 33.33%;
  min-width: 33.33%;
  padding: 0 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .info__list li {
    width: 100%;
    padding: 0;
  }

  .info__list li:not(:last-child) {
    margin-bottom: 40px;
  }
}

.info__icon {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  background: #1FB1EA;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .info__icon {
    width: 80px;
    height: 80px;
  }
}

.info__icon img {
  display: flex;
}

.info__list-100w {
  text-align: center;
  margin: 0 auto 60px;
  max-width: 860px;
}

@media (max-width: 768px) {
  .info__list-100w {
    margin-bottom: 0;
  }
}

.info__rocket {
  display: flex;
  margin: 50px auto 0;
}

@media (max-width: 768px) {
  .info__rocket--desktop {
    display: none;
  }
}

.info__rocket--mobile {
  display: none;
}

@media (max-width: 768px) {
  .info__rocket--mobile {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.reviews {
  padding: 130px 0;
  color: #fff;
}

@media (max-width: 768px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.reviews__title {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  margin: 0 0 20px;
  line-height: 140%;
}

@media (max-width: 768px) {
  .reviews__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.reviews__descr {
  max-width: 660px;
  text-align: center;
  margin: 0 auto 70px;
}

@media (max-width: 768px) {
  .reviews__descr {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .reviews .swiper-wrapper {
    display: block;
  }
}

.reviews .swiper-slide {
  padding: 20px;
  background: #1B2D46;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.09);
  border-radius: 42px;
}

@media (min-width: 768px) {
  .reviews .swiper-slide:not(:last-child) {
    margin-bottom: 40px;
  }
}

.reviews__head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reviews__head img {
  display: flex;
  border-radius: 50%;
  margin-right: 15px;
}

.reviews__name {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.reviews__content {
  margin: 0 0 30px;
  color: #8E96B0;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.reviews__list li {
  line-height: 168.5%;
}

.reviews__list li:not(:last-child) {
  margin-right: 60px;
}

.reviews__list li img {
  display: flex;
  margin: 0 0 11px;
}

.reviews__list li p {
  margin: 0;
  color: #8E96B0;
}

.reviews__list li span {
  color: #fff;
  font-weight: 700;
}

.reviews__nav {
  display: none;
}

@media (max-width: 768px) {
  .reviews__nav {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }

  .reviews__nav .swiper-button-next,
  .reviews__nav .swiper-button-prev {
    position: relative;
    top: 0 !important;
    left: auto !important;
    right: auto !important;
    transform: translate(0, 0) !important;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0;
    opacity: 1;
  }

  .reviews__nav .swiper-button-next:before,
  .reviews__nav .swiper-button-next:after,
  .reviews__nav .swiper-button-prev:before,
  .reviews__nav .swiper-button-prev:after {
    display: none;
  }

  .reviews__nav .swiper-pagination {
    position: relative;
    width: auto;
    border: 0;
    margin: 0 5px;
    height: 6px;
  }

  .reviews__nav .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: 1;
  }

  .reviews__nav .swiper-pagination-bullet-active {
    background: #1FB1EA;
  }
}

.footer-form {
  padding-bottom: 99px;
}

@media (max-width: 768px) {
  .footer-form {
    padding-bottom: 40px;
  }
}

.footer-form .form {
  margin: 0 auto;
}

.footer-form__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 140%;
  color: #fff;
  text-align: center;
  margin: 0 0 70px;
}

@media (max-width: 768px) {
  .footer-form__title {
    font-weight: 900;
    font-size: 16px;
    margin: 0 0 20px;
  }
}

.footer {
  border-top: 1px solid #1B2D46;
  padding: 30px 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ty {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.ty__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}

.ty__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 140%;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
  .ty__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.ty__icon {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1FB1EA;
  margin: 0 auto 30px;
  border-radius: 50%;
}

.ty__icon img {
  display: flex;
}

.ty__descr {
  max-width: 730px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */

.block-shadow {
  background: transparent !important;
  ;
}

input {
  /* background: #090e15 !important; */
  border-radius: 20px !important;
}

.button_react {
  border-radius: 20px !important;
}